# Celo Sepolia Testnet
CELO_RPC=https://forno.celo-sepolia.celo-testnet.org
DEPLOYER_PRIVATE_KEY=your_deployer_private_key_here

# cUSD on Sepolia
USDC_ADDRESS=0xAd9a854784BD9e8e5E975e39cdFD34cA32dd7fEf

# 0x874069Fa1Eb16D44d622F2e0Ca25eeA172369bC1
